/*
Polar Night
nord0  #2e3440
nord1  #3b4252
nord2  #434c5e
nord3  #4c566a

Snow Storm
nord4  #d8dee9
nord5  #e5e9f0
nord6  #eceff4

Frost
nord7  #8fbcbb
nord8  #88c0d0
nord9  #81a1c1
nord10 #5e81ac

Aurora
nord11 #bf616a
nord12 #d08770
nord13 #ebcb8b
nord14 #a3be8c
nord15 #b48ead
*/

* {
    color: #eceff4;
    border: 0;
    border-radius: 0;
    padding: 0 0;
    font-family: DejaVu Sans Mono, Monospace;
    font-size: 11px;
    font-weight: bold;
    margin-right: 2px;
    margin-left: 2px;
    min-height: 0;
    min-width: 15px;
    text-shadow:
     -1px -1px 0 #2e3440,  
      1px -1px 0 #2e3440,
     -1px  1px 0 #2e3440,
      1px  1px 0 #2e3440;
}

window#waybar {
    background: transparent;
}

#workspaces button {
    padding: 0 0px;
    border-bottom: 2px;
    color: #eceff4;
    border-color: #1d2021;
    border-style: solid;
}

#workspaces button.focused {
    border-color: #81a1c1;
}

#mode {
    color: #ebcb8b;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #mode {
    padding: 0 5px;
    border-bottom: 2px;
    border-style: solid;
}

#clock {
    font-weight: bold;
    border-style: hidden;
}

#backlight {
    color: #ebcb8b;
}

#battery {
    color: #d8dee9;
}

#battery.charging {
    color: #81a1c1;
}

@keyframes blink {
    to {
        color: #4c566a;
        background-color: #eceff4;
    }
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: #2e3440;
}

#memory {
    color: #d3869b;
}

#network {
    color: #a3be8c;
}

#network.disconnected {
    color: #bf616a;
}

#pulseaudio {
    color: #b48ead;
}

#pulseaudio.muted {
    color: #3b4252;
}

#temperature {
    color: #8fbcbb;
}

#temperature.critical {
    color: #bf616a;
}

#idle_inhibitor {
    border-style: hidden;
    background: transparent;
}

#tray {
}
